<%= form_with class: classes,
  method: :post,
  url: url do |f|
%>
  <%= f.hidden_field "id", value: id %>
  <%= f.hidden_field "brand_id", value: brand_id %>

  <div class="flex justify-end">
    <%= render Button::Component.new(
      variant: Button::CONTAINED,
      type: "submit",
      disabled: disabled?,
      icon: "fas fa-floppy-disk fa-lg",
    ) do %>
      <%= button_label %>
    <% end %>
  </div>
<% end %>
