<%= render SearchInput::Component.new(
  id: "query",
  label: "Go",
  placeholder: "Search...",
  value: query,
  url: url,
  method: "get",
  data: data,
  classes: classes,
) do %>
  <div class="flex items-center justify-between mt-3">
    <span>
      <%= render Link::IconComponent.new(
        href: href_spotify,
        icon: "fab fa-spotify fa-lg",
        active: brand == Api::SPOTIFY,
        active_text_color: "text-spotify",
        data: data,
        classes: "me-2",
      ) %>
      <%= render Link::IconComponent.new(
        href: href_youtube_music,
        icon: "fab fa-youtube fa-lg",
        active: brand == Api::YOUTUBE_MUSIC,
        active_text_color: "text-youtubemusic",
        data: data,
        classes: "me-2",
      ) %>
      <%= render Link::IconComponent.new(
        href: href_apple_music,
        icon: "fab fa-apple fa-lg",
        active: brand == Api::APPLE_MUSIC,
        active_text_color: "text-applemusic",
        data: data,
        classes: "me-2",
      ) %>
    </span>
    <div class="flex gap-2">
      <%= render Link::ChipComponent.new(
        href: href_album,
        active: type == Api::TYPE_ALBUM,
        data: data,
      ) do %>
        アルバム
      <% end %>
      <%= render Link::ChipComponent.new(
        href: href_artist,
        active: type == Api::TYPE_ARTIST,
        data: data,
      ) do %>
        アーティスト
      <% end %>
      <%= render Link::ChipComponent.new(
        href: href_track,
        active: type == Api::TYPE_TRACK,
        data: data,
      ) do %>
        曲
      <% end %>
    </div>
  </div>
<% end %>
