<%= render SearchInput::Component.new(
  id: "query",
  label: "Search",
  placeholder: "Search tracks...",
  url: "search",
  method: "get",
  data: { turbo_frame: "tracks" },
  classes: "max-w-sm mx-auto mb-5",
) %>
<div class="max-w-sm mx-auto">
  <%= turbo_frame_tag "tracks" do %>
    <% @youtube_tracks.each do |youtube_track| %>
      <%= render Card::Component.new(
        classes: "max-w-sm mb-5",
        ) do |component| %>
        <% component.with_image(src: youtube_track[:thumbnail_url]) %>
        <% component.with_header do %>
          <%= youtube_track[:title] %>
        <% end %>
        <% component.with_description do %>
          <%= render Card::DescriptionComponent.new do %>
            <%= youtube_track[:channel_title] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
