<form class="<%= classes %>">
  <% items.each do |item| %>
    <div class="mb-5">
      <%= render Form::LabelComponent.new(
        label_for: item.id,
        classes: "block",
      ) do %>
        <%= item.label %>
      <% end %>
      <%= render Form::InputComponent.new(
        type: item.type,
        id: item.id,
        placeholder: item.placeholder,
        required: item.required,
        classes: "block w-full p-2.5",
      ) do %>
        <%= item.value || "" %>
      <% end %>
    </div>
  <% end %>
  <% if has_button? %>
    <div class="flex justify-end">
      <%= render Button::Component.new(
        variant: Button::CONTAINED,
        type: "submit",
      ) do %>
        <%= button_label %>
      <% end %>
    </div>
  <% end %>
</form>
