<form class="<%= classes %>">
  <% items.each do |item| %>
    <div class="mb-5">
      <%= render Form::LabelComponent.new(
        label_for: item.id,
        classes: "block mb-2",
      ) do %>
        <%= item.label %>
      <% end %>
      <%= render Input::Component.new(
        type: item.type,
        id: item.id,
        placeholder: item.placeholder,
        required: item.required,
        value: item.value,
        classes: "block w-full",
      ) do |component| %>
        <% if item.icon_class.present? %>
          <% component.with_icon(icon_class: item.icon_class) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if button? %>
    <%= button %>
  <% end %>
</form>
