<!DOCTYPE html>
<html class="<%= params.dig(:lookbook, :display, :theme) || "light" %>">
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-neutral-100 text-gray-900 dark:bg-neutral-900 dark:text-gray-50"
    style="padding: 20px">
    <div style="
        margin-left: auto;
        margin-right: auto;
        max-width: <%= params.dig(:lookbook, :display, :max_width) || "100%" %>
      ">
      <%= yield %>
    </div>
  </body>
</html>
