<div class="<%= classes %>">
    <img class="<%= thumbnail_classes %>"
      src="<%= thumbnail_url %>"
      alt=""
    >
    <div class="<%= header_classes %>">
      <%= header %>
    </div>
    <div class="<%= description_classes %>">
      <%= description %>
    </div>
</div>
