<div class="<%= classes %>">
    <%= render Grid::ThumbnailComponent.new(
      src: thumbnail_url,
      shape: thumbnail_shape,
    ) %>
    <div class="<%= header_classes %>">
      <%= header %>
    </div>
    <div class="<%= description_classes %>">
      <%= description %>
    </div>
</div>
