<% if plain? %>
  <%= render Input::BaseComponent.new(
    type: type,
    id: id,
    placeholder: placeholder,
    required: required?,
    disabled: disabled?,
    value: value,
    classes: classes,
  ) %>
<% else %>
  <div class="<%= classes %>">
    <div class="relative grow">
      <% if icon? %>
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <%= icon %>
        </div>
      <% end %>
      <%= render Input::BaseComponent.new(
        type: type,
        id: id,
        name: name,
        placeholder: placeholder,
        required: required?,
        disabled: disabled?,
        value: value,
        classes: "block w-full py-2 ps-10 pe-3",
      ) %>
    </div>
    <% if button? %>
      <%= button %>
    <% end %>
  </div>
<% end %>
