<div class="<%= classes %>">
  <% items.each do |item| %>
      <div class="flex flex-col justify-between h-full">
        <%= link_to href_select(item),
          data: data do
        %>
          <%= render Albums::GridItemComponent.new(
            thumbnail_url: item[:thumbnail_url],
            title: item[:title],
            release_date: item[:release_date],
            artists: item[:artists],
          ) %>
        <% end %>
        <div>
          <%= render Albums::Link::PlayerComponent.new(
            base_url: Albums::BASE_URL,
            album_id: item[:id],
            classes: "mt-2",
          ) %>
          <div class="flex justify-end items-center mt-2 gap-2">
            <% if item[:spotify_id].present? %>
              <%= render Icon::Spotify.new(
                size: Icon::SIZE_LG,
                classes: "text-spotify",
              ) %>
            <% end %>
            <% if item[:youtube_music_id].present? %>
              <%= render Icon::YoutubeMusic.new(
                size: Icon::SIZE_LG,
                classes: "text-youtubemusic",
              ) %>
            <% end %>
            <% if item[:apple_music_id].present? %>
              <%= render Icon::AppleMusic.new(
                size: Icon::SIZE_LG,
                classes: "text-applemusic",
              ) %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
