<div class="flex <%= classes %>">
  <div>
    <% tracks.each do |track| %>
      <div class="flex justify-end items-center <%= index_style %>">
        <%= track[:track_number] %>
      </div>
    <% end %>
  </div>
  <div class="w-full">
    <% tracks.each do |track| %>
      <%= render Albums::TrackComponent.new(
        track,
        classes: "mb-4 #{content_style}",
    ) %>
    <% end %>
  </div>
  <div>
    <% tracks.each do |track| %>
      <div class="flex justify-end items-center <%= index_style %>">
        <%= duration(track[:duration_ms]) %>
      </div>
    <% end %>
  </div>
</div>
