<div class="flex max-w-5xl mx-auto">
  <%= render Albums::ContentComponent.new(
    album: @album,
    classes: "w-80 me-6",
  ) do %>
    <%= render Albums::Link::TrackListComponent.new(
      album_id: @album[:id],
      label: t("albums.player.open_tracks"),
    ) %>
  <% end %>
  <div class="grow">
    <%= turbo_frame_tag "player" do %>
      <%= render Albums::StreamingServiceTabComponent.new(
        id: @album[:id],
        streaming_service: @streaming_service,
        data: { turbo_frame: "player", turbo_action: :advance },
        classes: "mb-5",
      ) %>
      <% case @streaming_service %>
      <% when Api::APPLE_MUSIC %>
        <div>Apple Music</div>
      <% when Api::YOUTUBE_MUSIC %>
        <%= render Albums::YoutubeMusic::PlayerComponent.new(
          youtube_music_id: @album[:youtube_music_id],
        ) %>
      <% else %>
        <%= render Albums::Spotify::PlayerComponent.new(
          spotify_id: @album[:spotify_id],
          tracks: @album[:tracks],
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
