<div class="flex">
  <div class="w-72 me-3">
    <%= turbo_frame_tag "selections" do %>
      <%= render StreamingTracks::SelectionListComponent.new %>
    <% end %>
  </div>
  <div class="grow">
    <%= turbo_frame_tag "brands" do %>
      <%= render StreamingTracks::SearchForm::Component.new(
        base_url: StreamingTracks::BASE_URL,
        params: @params_for_search,
        data: { turbo_frame: "brands", turbo_action: :advance },
        classes: "mb-5",
      ) %>
      <%= render StreamingTracks::GridComponent.new(
        register_path: "/streaming_tracks/register/#{@brand}/#{@type}",
        brand: @params_for_search[:brand],
        type: @params_for_search[:type],
        query: @params_for_search[:query],
        items: @albums,
        data: { turbo_frame: "brands", turbo_action: :advance },
      ) %>
    <% end %>
  </div>
</div>
