<%= turbo_frame_tag "target_album" do %>
  <div class="flex">
    <div class="w-72 me-3">
      <% if @target_album.present? %>
        <%= render StreamingTracks::Album::TargetItemComponent.new(
          album: @target_album,
        ) %>
      <% end %>
    </div>
    <div class="grow">
      <%= turbo_frame_tag "brands" do %>
        <% if @target_album.blank? %>
          <%= render StreamingTracks::SearchForm::Component.new(
            base_url: StreamingTracks::BASE_URL,
            params: @params_for_search,
            data: { turbo_frame: "brands", turbo_action: :advance },
            classes: "mb-5",
          ) %>
          <%= render StreamingTracks::Album::GridComponent.new(
            base_url: StreamingTracks::BASE_URL,
            params: @params_for_search,
            items: @albums,
            data: { turbo_frame: "target_album", turbo_action: :advance },
          ) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
