<%= turbo_frame_tag "target_album" do %>
  <div class="flex">
    <% if @target_album.present? %>
      <div class="w-80 me-6">
        <%= render StreamingTracks::Album::TargetItemComponent.new(
          album: @target_album,
          params: @params_for_search,
        ) %>
      </div>
    <% end %>
    <div class="grow">
      <%= turbo_frame_tag "brands" do %>
        <% if @target_album.blank? %>
          <%= render StreamingTracks::SearchForm::Component.new(
            base_url: StreamingTracks::BASE_URL,
            params: @params_for_search,
            data: { turbo_frame: "brands", turbo_action: :advance },
            classes: "mb-5",
          ) %>
          <%= render StreamingTracks::Album::GridComponent.new(
            base_url: StreamingTracks::BASE_URL,
            params: @params_for_search,
            items: @albums,
            data: { turbo_frame: "target_album", turbo_action: :advance },
          ) %>
        <% end %>
      <% end %>

      <% if @target_album.present? %>
        <%= render StreamingTracks::UnlinkedAlbumListComponent.new(
          base_url: StreamingTracks::BASE_URL,
          params: @params_for_search,
          target_id: @target_album&.[](:id),
          items: @unlinked_albums,
          data: { turbo_frame: "target_album", turbo_action: :advance },
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
