<button
  type="<%= type %>"
  class="<%= classes %>"
  formmethod="<%= form_method %>"
  formaction="<%= form_action %>"
  <%= disabled? ? "disabled" : nil %>
>
  <% if icon? %>
    <i class="me-2 <%= icon %>"></i>
  <% end %>
  <%= content %>
</button>
