<div class="<%= classes %>">
  <% items.each do |item| %>
    <% case type %>
    <% when Api::TYPE_ALBUM %>
      <div class="flex flex-col">
        <%= render StreamingTracks::Album::GridItemComponent.new(
          thumbnail_url: item[:thumbnail_url],
          title: item[:title],
          year: item[:year],
          artists: item[:artists],
        ) %>
        <%= render StreamingTracks::RegisterButtonComponent.new(
          url: register_path,
          id: item[:id],
          brand_id: brand_id(item),
          query: query,
          classes: "flex justify-end mt-auto",
        ) %>
      </div>
    <% when Api::TYPE_ARTIST %>
      <%= render StreamingTracks::Artist::GridItemComponent.new(
        base_url: StreamingTracks::BASE_URL,
        id: item[:id],
        brand_id: brand_id(item),
        brand: brand,
        query: query,
        thumbnail_url: item[:thumbnail_url],
        name: item[:name],
        data: data,
      ) %>
    <% else %>
      <span>Unknown type: <%= type %></span>
    <% end %>
  <% end %>
</div>
