<%= form_with class: classes,
  method: :post,
  url: url do |f|
%>
  <% streaming_service_id.each do |key, value| %>
    <%= f.hidden_field key, value: value %>
  <% end %>
  <%= f.hidden_field "query", value: params[:query] %>
  <%= f.hidden_field "id", value: params[:id] %>

  <div class="flex justify-end">
    <%= render Button::Component.new(
      variant: Button::CONTAINED,
      type: "submit",
      disabled: disabled?,
      icon: "fas fa-floppy-disk fa-lg",
    ) do %>
      <%= button_label %>
    <% end %>
  </div>
<% end %>
