<div>
  <div class="flex justify-between px-4">
    <h3 class="<%= header_classes %>">
      <%= header_text %>
    </h3>
    <%= render Link::TextComponent.new(
      href: href_back,
      data: data,
    ) do %>
      戻る
    <% end %>
  </div>
  <hr class="mx-4">
  <%= render List::Component.new(
    item_classes: "h-20 mt-4",
  ) do |component| %>
    <% items.each do |item| %>
      <% component.with_item do %>
        <div class="flex justify-between gap-2">
          <%= render StreamingTracks::Album::ListItemComponent.new(
            thumbnail_url: item[:thumbnail_url],
            title: item[:title],
            year: item[:year] || 2024,
            artists: item[:artists],
            spotify_id: item[:spotify_id],
            youtube_music_id: item[:youtube_music_id],
            apple_music_id: item[:apple_music_id],
          ) %>
          <%= form_with class: "flex items-center shrink-0",
            method: :post,
            url: link_url(item[:id]) do |f|
          %>
            <%= f.hidden_field "query", value: params[:query] %>
            <%= f.hidden_field "id", value: params[:id] %>

            <% streaming_service_id(target_album).each do |key, value| %>
              <%= f.hidden_field "album[#{key}]", value: value %>
            <% end %>

            <% target_album[:tracks].each do |track| %>
              <%= f.hidden_field "album[tracks][][disc_number]", value: track[:disc_number] %>
              <%= f.hidden_field "album[tracks][][track_number]", value: track[:track_number] %>
              <% streaming_service_id(track).each do |key, value|%>
                <%= f.hidden_field "album[tracks][][#{key}]", value: value %>
              <% end %>
            <% end %>

            <%= render Button::Component.new(
              variant: Button::CONTAINED,
              type: "submit",
              icon: "fas fa-link fa-lg",
            ) do %>
              登録
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
