<div class="<%= classes %>">
  <% if image? %>
    <%= image %>
    <div class="p-5">
      <% if header? %>
        <%= header %>
      <% end %>
      <% if description? %>
        <%= description %>
      <% end %>
    </div>
  <% else %>
    <% if header? %>
      <%= header %>
    <% end %>
    <% if description? %>
      <%= description %>
    <% end %>
  <% end %>
</div>
