<div class="<%= classes %>">
  <h1 class="mb-6 <%= text_style %>">
    <%= title %>
  </h1>
  <div class="flex items-center justify-center gap-x-4">
    <%= render Brand::ButtonComponent.new(
      brand: Brand::YOUTUBE_MUSIC,
      href: "/show?brand=#{Playlist::Brand::QUERY_YOUTUBE_MUSIC}",
      active: active_brand == Playlist::Brand::QUERY_YOUTUBE_MUSIC,
    ) %>
    <%= render Brand::ButtonComponent.new(
      brand: Brand::SPOTIFY,
      href: "/show?brand=#{Playlist::Brand::QUERY_SPOTIFY}",
      active: active_brand == Playlist::Brand::QUERY_SPOTIFY,
    ) %>
    <%= render Brand::ButtonComponent.new(
      brand: Brand::APPLE_MUSIC,
      href: "/show?brand=#{Playlist::Brand::QUERY_APPLE_MUSIC}",
      active: active_brand == Playlist::Brand::QUERY_APPLE_MUSIC,
    ) %>
  </div>
</div>
