<div class="<%= classes %>">
  <div class="<%= tab_classes %>">
    <%= render Brand::ButtonComponent.new(
      brand: Api::SPOTIFY,
      href: href_spotify,
      active: spotify?,
      data: data,
      classes: "justify-center",
    ) %>
    <%= render Brand::ButtonComponent.new(
      brand: Api::APPLE_MUSIC,
      href: href_apple_music,
      active: apple_music?,
      data: data,
      classes: "justify-center",
    ) %>
    <%= render Brand::ButtonComponent.new(
      brand: Api::YOUTUBE_MUSIC,
      href: href_youtube_music,
      active: youtube_music?,
      data: data,
      classes: "justify-center",
    ) %>
  </div>
  <%= render StreamingTracks::SearchForm::InputFieldComponent.new(
    url: search_by_album_path,
    params: params,
    data: data,
  ) %>
</div>
