<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="bg-neutral-100 text-gray-900 dark:bg-neutral-900 dark:text-gray-50">
    <%= render Root::NavbarComponent.new(
      current_user: current_user,
      menus: [
        {
          href: "/albums",
          label: t("nav_bar.albums"),
          is_active: controller.controller_name == "albums",
        },
        {
          href: "/playlists",
          label: t("nav_bar.playlists"),
          is_active: controller.controller_name == "playlists",
        },
        {
          href: "/streaming_tracks/register",
          label: t("nav_bar.register_tracks"),
          is_active: controller.controller_name == "streaming_tracks",
        },
      ],
    ) do |component| %>
      <% component.with_sign_in_button do %>
        <%= render Link::ButtonComponent.new(
          active: true,
          href: new_user_session_path,
          shape: Link::Button::ROUNDED,
          size: Link::Button::BASE,
          classes: "ms-8",
        ) do %>
          <%= t("nav_bar.login") %>
        <% end %>
      <% end %>
      <% component.with_signed_in_menu do %>
        <%= render Root::Users::DropdownComponent.new(
          menus: [
            {
              label: t("nav_bar.signed_in.settings"),
              href: "#",
              is_active: controller.controller_name == "settings",
            },
            {
              label: t("nav_bar.signed_in.logout"),
              href: destroy_user_session_path,
              is_active: false,
              data: { turbo_method: :delete },
            },
          ],
        ) %>
      <% end %>
    <% end %>
    <main class="container xl:max-w-7xl mx-auto mt-28 px-4">
      <%= yield %>
    </main>
  </body>
</html>
