<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "A" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-neutral-100 text-gray-900 dark:bg-neutral-900 dark:text-gray-50">
    <%= render Root::NavbarComponent.new(
      current_user: current_user,
      menus: [
        {
          href: "/albums",
          label: "アルバム一覧",
          is_active: controller.controller_name == "albums",
        },
        {
          href: "/playlists",
          label: "プレイリスト一覧",
          is_active: controller.controller_name == "playlists",
        },
        {
          href: "/streaming_tracks/register",
          label: "楽曲登録",
          is_active: controller.controller_name == "streaming_tracks",
        },
      ],
    ) do |component| %>
      <% component.with_sign_in_button do %>
        <%= render Link::ButtonComponent.new(
          active: true,
          href: new_user_session_path,
          shape: Link::Button::ROUNDED,
          size: Link::Button::BASE,
          classes: "ms-8",
        ) do %>
          サインイン
        <% end %>
      <% end %>
      <% component.with_signed_in_menu do %>
        <%= render Root::Users::DropdownComponent.new(
          menus: [
            {
              label: "設定",
              href: "#",
              is_active: controller.controller_name == "settings",
            },
            {
              label: "ログアウト",
              href: destroy_user_session_path,
              is_active: false,
              data: { turbo_method: :delete },
            },
          ],
        ) %>
      <% end %>
    <% end %>
    <main class="container xl:max-w-7xl mx-auto mt-28 px-4">
      <%= yield %>
    </main>
  </body>
</html>
