<% if leadings.present? || trailings.present? %>
  <div class="flex <%= classes %>">
    <div>
      <% leadings.each do |leading| %>
        <div class="<%= leading_classes %>">
          <%= leading  %>
        </div>
      <% end %>
    </div>
    <div class="grow">
      <% items.each do |item| %>
        <div class="<%= item_classes %>">
          <%= item %>
        </div>
      <% end %>
    </div>
    <div>
      <% trailings.each do |trailing| %>
        <div class="<%= trailing_classes %>">
          <%= trailing  %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% items.each do |item| %>
    <div class="<%= item_classes %>">
      <%= item %>
    </div>
  <% end %>
<% end %>
